n8n codigo
{
  "name": "sports_predict_pipeline_production_hardened",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "1fe05aac-f98b-427f-9044-6300677951d1",
      "name": "Every 3 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3024,
        432
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://v3.football.api-sports.io/fixtures' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "next",
              "value": "99"
            },
            {
              "name": "timezone",
              "value": "Europe/Warsaw"
            },
            {
              "name": "status",
              "value": "NS"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "220293151722514a48cac19e7a36d658"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-api-football-production-hardened/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 20000
        }
      },
      "id": "8d621f54-6a64-4c64-9ca4-8a513b172416",
      "name": "Get Upcoming Fixtures",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2816,
        432
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "fieldToSplitOut": "response",
        "options": {}
      },
      "id": "2730a99b-fcda-487b-8e30-1a826b3408ff",
      "name": "Split Fixtures",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2624,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ Number($json.fixture?.id ?? 0) > 0 && Number($json.league?.id ?? 0) > 0 && Number($json.teams?.home?.id ?? 0) > 0 && Number($json.teams?.away?.id ?? 0) > 0 && String($json.fixture?.status?.short ?? '') === 'NS' && String($json.fixture?.date ?? '') !== '' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66b55c94-3d31-43e7-9b01-abc176445b97",
      "name": "Fixture Skeleton Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2416,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst f = $json;\nconst reasons = [];\nif (!(Number(f.fixture?.id ?? 0) > 0)) reasons.push('fixture_id_invalid');\nif (!(Number(f.league?.id ?? 0) > 0)) reasons.push('league_id_invalid');\nif (!(Number(f.teams?.home?.id ?? 0) > 0)) reasons.push('home_team_id_invalid');\nif (!(Number(f.teams?.away?.id ?? 0) > 0)) reasons.push('away_team_id_invalid');\nif (String(f.fixture?.status?.short ?? '') !== 'NS') reasons.push('status_not_NS');\nif (String(f.fixture?.date ?? '') === '') reasons.push('fixture_datetime_missing');\nreturn [{json:{\n  trace_stage:'fixture_discarded_early',\n  trace_reason_primary: reasons[0] || 'invalid_fixture_skeleton',\n  trace_reason_details: reasons,\n  fixture_id: Number(f.fixture?.id ?? 0) || null,\n  league_id: Number(f.league?.id ?? 0) || null,\n  home_team_id: Number(f.teams?.home?.id ?? 0) || null,\n  away_team_id: Number(f.teams?.away?.id ?? 0) || null,\n  fixture_datetime: f.fixture?.date ?? null,\n  raw_fixture: f,\n  traced_at: $now.toISO()\n}}];\n"
      },
      "id": "597b02ab-979e-4981-8a26-36c04c2e5326",
      "name": "Trace Discarded Fixture Early",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{json:{\n  fixture_id: Number($json.fixture.id),\n  league_id: Number($json.league.id),\n  league_name: $json.league.name ?? null,\n  country: $json.league.country ?? null,\n  season: Number($json.league.season ?? 0) || null,\n  home_team_id: Number($json.teams.home.id),\n  away_team_id: Number($json.teams.away.id),\n  home_team_name: $json.teams.home.name ?? null,\n  away_team_name: $json.teams.away.name ?? null,\n  fixture_datetime: $json.fixture.date ?? null,\n  status_short: $json.fixture.status.short ?? null,\n  timezone: 'Europe/Warsaw',\n  raw_fixture: $json\n}}];\n"
      },
      "id": "ee7f520a-4748-46fa-a1fd-7278ae84ac10",
      "name": "Extract Base Fixture",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://v3.football.api-sports.io/leagues' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.league_id }}"
            },
            {
              "name": "season",
              "value": "={{ $json.season }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "220293151722514a48cac19e7a36d658"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-api-football-production-hardened/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 20000
        }
      },
      "id": "119182bd-2aa1-4359-9f9a-461ca4c9c2a3",
      "name": "Get League Coverage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2144,
        160
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ 'https://v3.football.api-sports.io/teams/statistics' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "team",
              "value": "={{ $('Extract Base Fixture').item.json.home_team_id }}"
            },
            {
              "name": "league",
              "value": "={{ $('Extract Base Fixture').item.json.league_id }}"
            },
            {
              "name": "season",
              "value": "={{ $('Extract Base Fixture').item.json.season }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "220293151722514a48cac19e7a36d658"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-api-football-production-hardened/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 20000
        }
      },
      "id": "9edd9935-80fb-4b24-8904-93bf91f2e74a",
      "name": "Get Home Team Statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1936,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ 'https://v3.football.api-sports.io/teams/statistics' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "team",
              "value": "={{ $('Extract Base Fixture').item.json.away_team_id }}"
            },
            {
              "name": "league",
              "value": "={{ $('Extract Base Fixture').item.json.league_id }}"
            },
            {
              "name": "season",
              "value": "={{ $('Extract Base Fixture').item.json.season }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "220293151722514a48cac19e7a36d658"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-api-football-production-hardened/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 20000
        }
      },
      "id": "16bd4522-e949-449b-b80e-18414e6b75b6",
      "name": "Get Away Team Statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1744,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ 'https://v3.football.api-sports.io/fixtures' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "team",
              "value": "={{ $('Extract Base Fixture').item.json.home_team_id }}"
            },
            {
              "name": "last",
              "value": "10"
            },
            {
              "name": "league",
              "value": "={{ $('Extract Base Fixture').item.json.league_id }}"
            },
            {
              "name": "season",
              "value": "={{ $('Extract Base Fixture').item.json.season }}"
            },
            {
              "name": "timezone",
              "value": "Europe/Warsaw"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "220293151722514a48cac19e7a36d658"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-api-football-production-hardened/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 20000
        }
      },
      "id": "f1f645e9-5553-4526-a4ad-f13a262f42ed",
      "name": "Get Home Recent Fixtures",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1536,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ 'https://v3.football.api-sports.io/fixtures' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "team",
              "value": "={{ $('Extract Base Fixture').item.json.away_team_id }}"
            },
            {
              "name": "last",
              "value": "10"
            },
            {
              "name": "league",
              "value": "={{ $('Extract Base Fixture').item.json.league_id }}"
            },
            {
              "name": "season",
              "value": "={{ $('Extract Base Fixture').item.json.season }}"
            },
            {
              "name": "timezone",
              "value": "Europe/Warsaw"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "220293151722514a48cac19e7a36d658"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-api-football-production-hardened/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 20000
        }
      },
      "id": "41f3f92e-0d2f-41f0-a9bd-f04e1d8fa2a7",
      "name": "Get Away Recent Fixtures",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1344,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ 'https://v3.football.api-sports.io/fixtures/headtohead' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "h2h",
              "value": "={{ $('Extract Base Fixture').item.json.home_team_id && $('Extract Base Fixture').item.json.away_team_id ? $('Extract Base Fixture').item.json.home_team_id + '-' + $('Extract Base Fixture').item.json.away_team_id : '' }}"
            },
            {
              "name": "last",
              "value": "10"
            },
            {
              "name": "timezone",
              "value": "Europe/Warsaw"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "220293151722514a48cac19e7a36d658"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-api-football-production-hardened/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 20000
        }
      },
      "id": "cb9e6895-f873-4073-b8a4-07cc9f1fa8a7",
      "name": "Get H2H Fixtures",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1136,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/odds",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fixture",
              "value": "={{ $('Extract Base Fixture').item.json.fixture_id }}"
            },
            {
              "name": "timezone",
              "value": "Europe/Warsaw"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apisports-key",
              "value": "220293151722514a48cac19e7a36d658"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-api-football-production-hardened/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 20000
        }
      },
      "id": "a7322e7f-8c62-479d-b8d1-dbfd05413cf9",
      "name": "Get Fixture Odds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -928,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst base = $('Extract Base Fixture').item.json;\nconst leagueCoverageResponse = $('Get League Coverage').item.json;\nconst homeStatsResponse = $('Get Home Team Statistics').item.json;\nconst awayStatsResponse = $('Get Away Team Statistics').item.json;\nconst homeRecentResponse = $('Get Home Recent Fixtures').item.json;\nconst awayRecentResponse = $('Get Away Recent Fixtures').item.json;\nconst h2hResponse = $('Get H2H Fixtures').item.json;\nconst oddsResponse = $('Get Fixture Odds').item.json;\nconst apiBase = 'https://v3.football.api-sports.io';\nconst apiKey = '220293151722514a48cac19e7a36d658';\n\nconst asNum = (v) => {\n  if (v === null || v === undefined || v === '' || v === '-' || v === 'null') return null;\n  if (typeof v === 'number') return Number.isFinite(v) ? v : null;\n  const m = String(v).replace(',', '.').match(/-?\\d+(\\.\\d+)?/);\n  return m ? Number(m[0]) : null;\n};\nconst avg = (arr) => arr.length ? Number((arr.reduce((a, b) => a + b, 0) / arr.length).toFixed(2)) : null;\nconst normalizeType = (s) => String(s || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]+/g, '_')\n  .replace(/^_|_$/g, '');\n\nconst envelopeMeta = (payload) => ({\n  get: payload?.get ?? null,\n  parameters: payload?.parameters ?? null,\n  errors: payload?.errors ?? null,\n  results: payload?.results ?? null,\n  paging: payload?.paging ?? null,\n  response_count: Array.isArray(payload?.response) ? payload.response.length : (payload?.response ? 1 : 0),\n});\n\nconst coverageRows = Array.isArray(leagueCoverageResponse?.response) ? leagueCoverageResponse.response : [];\nconst coverageRow = coverageRows[0] || null;\nconst seasonCoverage = Array.isArray(coverageRow?.seasons)\n  ? (coverageRow.seasons.find(s => Number(s?.year || 0) === Number(base.season || 0)) || coverageRow.seasons[0] || null)\n  : null;\nconst coverage = seasonCoverage?.coverage || null;\nconst coverageFlags = {\n  standings: coverage?.standings ?? null,\n  players: coverage?.players ?? null,\n  injuries: coverage?.injuries ?? null,\n  predictions: coverage?.predictions ?? null,\n  odds: coverage?.odds ?? null,\n  fixtures_events: coverage?.fixtures?.events ?? null,\n  fixtures_lineups: coverage?.fixtures?.lineups ?? null,\n  fixtures_statistics: coverage?.fixtures?.statistics_fixtures ?? null,\n  players_statistics: coverage?.fixtures?.statistics_players ?? null,\n};\n\nconst homeStats = Array.isArray(homeStatsResponse?.response) ? (homeStatsResponse.response[0] || null) : (homeStatsResponse?.response || null);\nconst awayStats = Array.isArray(awayStatsResponse?.response) ? (awayStatsResponse.response[0] || null) : (awayStatsResponse?.response || null);\nconst homeRecent = Array.isArray(homeRecentResponse?.response) ? homeRecentResponse.response : [];\nconst awayRecent = Array.isArray(awayRecentResponse?.response) ? awayRecentResponse.response : [];\nconst h2h = Array.isArray(h2hResponse?.response) ? h2hResponse.response : [];\nconst oddsRaw = Array.isArray(oddsResponse?.response) ? oddsResponse.response : [];\n\nconst preferredBookmakerId = null;\nconst bookmakers = (oddsRaw[0]?.bookmakers || []).filter(Boolean);\nconst selectedBookmaker = bookmakers[0] || null;\nconst bets = Array.isArray(selectedBookmaker?.bets) ? selectedBookmaker.bets : [];\nconst normalize = (s) => String(s || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]+/g, '_')\n  .replace(/^_|_$/g, '');\nconst findBet = (...names) => bets.find(b => names.includes(normalize(b?.name)));\nconst findValueOdd = (bet, ...names) => {\n  const values = Array.isArray(bet?.values) ? bet.values : [];\n  const wanted = names.map(normalize);\n  const found = values.find(v => wanted.includes(normalize(v?.value)));\n  const odd = asNum(found?.odd);\n  return odd;\n};\nconst extractThresholds = (bet) => {\n  const values = Array.isArray(bet?.values) ? bet.values : [];\n  const out = {};\n  for (const v of values) {\n    const label = normalize(v?.value);\n    const odd = asNum(v?.odd);\n    if (!label || odd === null) continue;\n    out[label] = odd;\n  }\n  return out;\n};\nconst firstOverOdd = (bet) => {\n  const values = Array.isArray(bet?.values) ? bet.values : [];\n  const overs = values\n    .map(v => ({ label: normalize(v?.value), odd: asNum(v?.odd) }))\n    .filter(v => v.label.startsWith('over_') && v.odd !== null);\n  overs.sort((a,b) => a.label.localeCompare(b.label));\n  return overs[0] || null;\n};\n\nconst matchWinner = findBet('match_winner', 'match_result');\nconst goalsOU = findBet('goals_over_under', 'over_under');\nconst btts = findBet('both_teams_score', 'both_teams_to_score');\nconst doubleChance = findBet('double_chance');\nconst cornersOU = findBet('corners_over_under', 'total_corners');\nconst cardsOU = findBet('cards_over_under', 'total_cards');\nconst homeShotsBet = findBet('home_team_total_shots');\nconst awayShotsBet = findBet('away_team_total_shots');\nconst homeSotBet = findBet('home_team_shots_on_target');\nconst awaySotBet = findBet('away_team_shots_on_target');\n\nconst odds = {\n  bookmaker_id: selectedBookmaker?.id != null ? Number(selectedBookmaker.id) : null,\n  bookmaker_name: selectedBookmaker?.name ? String(selectedBookmaker.name) : null,\n  raw_bookmakers_available: bookmakers.length,\n  requested_bookmaker_id: null,\n  bookmaker_filter_fallback_used: false,\n  bookmaker_filter_fallback_error: null,\n  odds_endpoint_results: Array.isArray(oddsRaw) ? oddsRaw.length : 0,\n  match_winner: {\n    home: findValueOdd(matchWinner, 'home', '1'),\n    draw: findValueOdd(matchWinner, 'draw', 'x'),\n    away: findValueOdd(matchWinner, 'away', '2')\n  },\n  totals: {\n    goals: {\n      over_1_5: findValueOdd(goalsOU, 'over_1_5', 'over 1_5', 'over 1.5', 'over 1,5'),\n      over_2_5: findValueOdd(goalsOU, 'over_2_5', 'over 2_5', 'over 2.5', 'over 2,5'),\n      over_3_5: findValueOdd(goalsOU, 'over_3_5', 'over 3_5', 'over 3.5', 'over 3,5'),\n      under_4_5: findValueOdd(goalsOU, 'under_4_5', 'under 4_5', 'under 4.5', 'under 4,5')\n    },\n    corners: extractThresholds(cornersOU),\n    cards: extractThresholds(cardsOU),\n    shots: {\n      home_first_over: firstOverOdd(homeShotsBet),\n      away_first_over: firstOverOdd(awayShotsBet)\n    },\n    shots_on_target: {\n      home_first_over: firstOverOdd(homeSotBet),\n      away_first_over: firstOverOdd(awaySotBet)\n    }\n  },\n  both_teams_to_score: { yes: findValueOdd(btts, 'yes') },\n  double_chance: {\n    home_or_draw: findValueOdd(doubleChance, '1x', 'home_draw'),\n    draw_or_away: findValueOdd(doubleChance, 'x2', 'draw_away'),\n    home_or_away: findValueOdd(doubleChance, '12', 'home_away')\n  }\n};\n\nconst finishedHome = homeRecent.filter(x => ['FT', 'AET', 'PEN'].includes(String(x?.fixture?.status?.short || ''))).slice(0, 5);\nconst finishedAway = awayRecent.filter(x => ['FT', 'AET', 'PEN'].includes(String(x?.fixture?.status?.short || ''))).slice(0, 5);\n\nconst hasCoreGoalsCoverage = [\n  homeStats?.goals?.for?.average?.home ?? homeStats?.goals?.for?.average?.total ?? null,\n  homeStats?.goals?.against?.average?.home ?? homeStats?.goals?.against?.average?.total ?? null,\n  awayStats?.goals?.for?.average?.away ?? awayStats?.goals?.for?.average?.total ?? null,\n  awayStats?.goals?.against?.average?.away ?? awayStats?.goals?.against?.average?.total ?? null,\n].every(v => asNum(v) !== null);\n\nconst advancedOddsAvailableAny = Boolean(\n  Object.keys(odds?.totals?.corners || {}).length ||\n  Object.keys(odds?.totals?.cards || {}).length ||\n  odds?.totals?.shots?.home_first_over ||\n  odds?.totals?.shots?.away_first_over ||\n  odds?.totals?.shots_on_target?.home_first_over ||\n  odds?.totals?.shots_on_target?.away_first_over\n);\nconst seasonAvailable = Number(base.season || 0) > 0;\nconst oddsCoverageSupported = coverageFlags.odds !== false;\nconst fixtureStatsCoverageSupported = coverageFlags.fixtures_statistics !== false;\nconst canAttemptAdvanced = hasCoreGoalsCoverage && finishedHome.length >= 3 && finishedAway.length >= 3 && !!apiKey && seasonAvailable && oddsCoverageSupported && fixtureStatsCoverageSupported;\n\nconst fetchFixtureStats = async (fixtureId) => {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${apiBase}/fixtures/statistics`,\n    qs: { fixture: fixtureId },\n    headers: {\n      'x-apisports-key': apiKey,\n      'Accept': 'application/json',\n      'User-Agent': 'n8n-api-football-production-hardened/1.0'\n    },\n    json: true,\n    timeout: 20000,\n  });\n  return Array.isArray(res?.response) ? res.response : [];\n};\n\nconst initTeamAdvanced = (teamKey, teamId) => ({\n  team_key: teamKey,\n  team_id: teamId,\n  attempted: false,\n  skip_reason: null,\n  stats_count_total: 0,\n  fixture_ids_used: [],\n  corners_for_values: [],\n  corners_against_values: [],\n  shots_for_values: [],\n  shots_against_values: [],\n  shots_on_target_for_values: [],\n  shots_on_target_against_values: [],\n  yellow_cards_for_values: [],\n  request_errors: [],\n});\n\nconst homeAdv = initTeamAdvanced('home', Number(base.home_team_id));\nconst awayAdv = initTeamAdvanced('away', Number(base.away_team_id));\n\nconst pushIfNum = (arr, value) => {\n  if (value !== null) arr.push(value);\n};\n\nconst collectTeamAdvancedFromRecent = async (advTarget, fixtures) => {\n  advTarget.attempted = true;\n  const cache = new Map();\n\n  for (const row of fixtures) {\n    const fixtureId = Number(row?.fixture?.id || 0);\n    if (!(fixtureId > 0)) continue;\n\n    let stats;\n    try {\n      stats = cache.get(fixtureId);\n      if (!stats) {\n        stats = await fetchFixtureStats(fixtureId);\n        cache.set(fixtureId, stats);\n      }\n    } catch (error) {\n      advTarget.request_errors.push({\n        fixture_id: fixtureId,\n        message: String(error?.message || error || 'fixtures_statistics_request_failed'),\n      });\n      continue;\n    }\n\n    if (!Array.isArray(stats) || !stats.length) continue;\n\n    const teamBlock = stats.find(s => Number(s?.team?.id || 0) === Number(advTarget.team_id || 0)) || null;\n    const opponentBlock = stats.find(s => Number(s?.team?.id || 0) !== Number(advTarget.team_id || 0)) || null;\n    if (!teamBlock) continue;\n\n    const teamMap = Object.fromEntries((Array.isArray(teamBlock?.statistics) ? teamBlock.statistics : []).map(s => [normalizeType(s?.type), s?.value]));\n    const opponentMap = Object.fromEntries((Array.isArray(opponentBlock?.statistics) ? opponentBlock.statistics : []).map(s => [normalizeType(s?.type), s?.value]));\n\n    const cornersFor = asNum(teamMap.corner_kicks);\n    const cornersAgainst = asNum(opponentMap.corner_kicks);\n    const shotsFor = asNum(teamMap.total_shots);\n    const shotsAgainst = asNum(opponentMap.total_shots);\n    const sotFor = asNum(teamMap.shots_on_goal);\n    const sotAgainst = asNum(opponentMap.shots_on_goal);\n    const yellowFor = asNum(teamMap.yellow_cards);\n\n    const hasAny = [cornersFor, cornersAgainst, shotsFor, shotsAgainst, sotFor, sotAgainst, yellowFor].some(v => v !== null);\n    if (!hasAny) continue;\n\n    advTarget.stats_count_total += 1;\n    advTarget.fixture_ids_used.push(fixtureId);\n    pushIfNum(advTarget.corners_for_values, cornersFor);\n    pushIfNum(advTarget.corners_against_values, cornersAgainst);\n    pushIfNum(advTarget.shots_for_values, shotsFor);\n    pushIfNum(advTarget.shots_against_values, shotsAgainst);\n    pushIfNum(advTarget.shots_on_target_for_values, sotFor);\n    pushIfNum(advTarget.shots_on_target_against_values, sotAgainst);\n    pushIfNum(advTarget.yellow_cards_for_values, yellowFor);\n  }\n\n  if (!advTarget.stats_count_total) {\n    advTarget.skip_reason = `advanced_stats_endpoint_returned_no_usable_${advTarget.team_key}_samples`;\n  }\n};\n\nif (!canAttemptAdvanced) {\n  const skipReasons = [];\n  if (!hasCoreGoalsCoverage) skipReasons.push('insufficient_team_goal_stats_coverage');\n  if (finishedHome.length < 3) skipReasons.push('insufficient_home_recent_finished_fixtures');\n  if (finishedAway.length < 3) skipReasons.push('insufficient_away_recent_finished_fixtures');\n  if (!apiKey) skipReasons.push('missing_api_sports_key');\n  if (!seasonAvailable) skipReasons.push('season_missing_for_statistics_endpoints');\n  if (!oddsCoverageSupported) skipReasons.push('league_odds_coverage_not_supported');\n  if (!fixtureStatsCoverageSupported) skipReasons.push('league_fixture_statistics_coverage_not_supported');\n  const reason = skipReasons.join('|') || 'advanced_collection_policy_blocked';\n  homeAdv.skip_reason = reason;\n  awayAdv.skip_reason = reason;\n} else {\n  await collectTeamAdvancedFromRecent(homeAdv, finishedHome);\n  await collectTeamAdvancedFromRecent(awayAdv, finishedAway);\n}\n\nreturn [{\n  json: {\n    base,\n    sources: {\n      coverage,\n      coverage_flags: coverageFlags,\n      request_meta: {\n        league_coverage: envelopeMeta(leagueCoverageResponse),\n        home_stats: envelopeMeta(homeStatsResponse),\n        away_stats: envelopeMeta(awayStatsResponse),\n        home_recent: envelopeMeta(homeRecentResponse),\n        away_recent: envelopeMeta(awayRecentResponse),\n        h2h: envelopeMeta(h2hResponse),\n        odds: envelopeMeta(oddsResponse)\n      },\n      home_stats: homeStats,\n      away_stats: awayStats,\n      home_recent: homeRecent,\n      away_recent: awayRecent,\n      h2h,\n      odds,\n      selected_bookmaker_id: odds.bookmaker_id,\n      selected_bookmaker_name: odds.bookmaker_name,\n      bookmakers_available: odds.raw_bookmakers_available,\n      odds_fallback_used: odds.bookmaker_filter_fallback_used,\n      odds_fallback_error: odds.bookmaker_filter_fallback_error\n    },\n    advanced_collection: {\n      policy_min_samples_per_team: 3,\n      attempted: canAttemptAdvanced,\n      gated_by_advanced_odds_signal: advancedOddsAvailableAny,\n      home: {\n        attempted: homeAdv.attempted,\n        skip_reason: homeAdv.skip_reason,\n        recent_fixture_stats_count: homeAdv.stats_count_total,\n        fixture_ids_used: homeAdv.fixture_ids_used,\n        request_errors: homeAdv.request_errors,\n        corners_for_avg: avg(homeAdv.corners_for_values),\n        corners_against_avg: avg(homeAdv.corners_against_values),\n        shots_for_avg: avg(homeAdv.shots_for_values),\n        shots_against_avg: avg(homeAdv.shots_against_values),\n        shots_on_target_for_avg: avg(homeAdv.shots_on_target_for_values),\n        shots_on_target_against_avg: avg(homeAdv.shots_on_target_against_values),\n        yellow_cards_for_avg: avg(homeAdv.yellow_cards_for_values),\n        sample_counts: {\n          corners_for: homeAdv.corners_for_values.length,\n          corners_against: homeAdv.corners_against_values.length,\n          shots_for: homeAdv.shots_for_values.length,\n          shots_against: homeAdv.shots_against_values.length,\n          shots_on_target_for: homeAdv.shots_on_target_for_values.length,\n          shots_on_target_against: homeAdv.shots_on_target_against_values.length,\n          yellow_cards_for: homeAdv.yellow_cards_for_values.length\n        }\n      },\n      away: {\n        attempted: awayAdv.attempted,\n        skip_reason: awayAdv.skip_reason,\n        recent_fixture_stats_count: awayAdv.stats_count_total,\n        fixture_ids_used: awayAdv.fixture_ids_used,\n        request_errors: awayAdv.request_errors,\n        corners_for_avg: avg(awayAdv.corners_for_values),\n        corners_against_avg: avg(awayAdv.corners_against_values),\n        shots_for_avg: avg(awayAdv.shots_for_values),\n        shots_against_avg: avg(awayAdv.shots_against_values),\n        shots_on_target_for_avg: avg(awayAdv.shots_on_target_for_values),\n        shots_on_target_against_avg: avg(awayAdv.shots_on_target_against_values),\n        yellow_cards_for_avg: avg(awayAdv.yellow_cards_for_values),\n        sample_counts: {\n          corners_for: awayAdv.corners_for_values.length,\n          corners_against: awayAdv.corners_against_values.length,\n          shots_for: awayAdv.shots_for_values.length,\n          shots_against: awayAdv.shots_against_values.length,\n          shots_on_target_for: awayAdv.shots_on_target_for_values.length,\n          shots_on_target_against: awayAdv.shots_on_target_against_values.length,\n          yellow_cards_for: awayAdv.yellow_cards_for_values.length\n        }\n      }\n    }\n  }\n}];\n"
      },
      "id": "efc6d5eb-fd36-4d71-a855-683e54b610d4",
      "name": "Collect Advanced Stats And Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $json;\nconst base = input.base || {};\nconst src = input.sources || {};\nconst adv = input.advanced_collection || {};\nconst homeStats = src.home_stats || {};\nconst awayStats = src.away_stats || {};\nconst homeRecent = Array.isArray(src.home_recent) ? src.home_recent : [];\nconst awayRecent = Array.isArray(src.away_recent) ? src.away_recent : [];\nconst h2h = Array.isArray(src.h2h) ? src.h2h : [];\nconst odds = src.odds || {};\nconst coverageFlags = src.coverage_flags || {};\nconst requestMeta = src.request_meta || {};\nconst homeAdv = adv.home || {};\nconst awayAdv = adv.away || {};\nconst minAdvancedSamples = Number(adv.policy_min_samples_per_team || 3);\n\nconst asNum = (v) => {\n  if (v === null || v === undefined || v === '' || v === '-' || v === 'null') return null;\n  if (typeof v === 'number') return Number.isFinite(v) ? v : null;\n  const m = String(v).replace(',', '.').match(/-?\\d+(\\.\\d+)?/);\n  return m ? Number(m[0]) : null;\n};\n\nconst finishedStatus = ['FT', 'AET', 'PEN'];\n\nconst recentForm = (rows, teamId) => {\n  const finished = (Array.isArray(rows) ? rows : []).filter(x => finishedStatus.includes(String(x?.fixture?.status?.short || ''))).slice(0, 10);\n  let points = 0;\n  let played = 0;\n  for (const x of finished) {\n    const isHome = Number(x?.teams?.home?.id || 0) === Number(teamId || 0);\n    const gf = asNum(isHome ? x?.goals?.home : x?.goals?.away);\n    const ga = asNum(isHome ? x?.goals?.away : x?.goals?.home);\n    if (gf === null || ga === null) continue;\n    played += 1;\n    if (gf > ga) points += 3;\n    else if (gf === ga) points += 1;\n  }\n  return {\n    form_score_pct: played ? Math.round((points / (played * 3)) * 100) : null,\n    played\n  };\n};\n\nconst homeForm = recentForm(homeRecent, base.home_team_id);\nconst awayForm = recentForm(awayRecent, base.away_team_id);\n\nconst goalsStats = {\n  home_for_avg: asNum(homeStats?.goals?.for?.average?.home ?? homeStats?.goals?.for?.average?.total ?? null),\n  home_against_avg: asNum(homeStats?.goals?.against?.average?.home ?? homeStats?.goals?.against?.average?.total ?? null),\n  away_for_avg: asNum(awayStats?.goals?.for?.average?.away ?? awayStats?.goals?.for?.average?.total ?? null),\n  away_against_avg: asNum(awayStats?.goals?.against?.average?.away ?? awayStats?.goals?.against?.average?.total ?? null),\n};\n\nconst coreOddsReady = [odds?.match_winner?.home, odds?.match_winner?.draw, odds?.match_winner?.away].every(v => asNum(v) !== null);\nconst goalsOddsCoverage = [odds?.totals?.goals?.over_2_5, odds?.both_teams_to_score?.yes].some(v => asNum(v) !== null);\nconst goalsStatsAvailable = Object.values(goalsStats).every(v => v !== null);\nconst formReady = homeForm.form_score_pct !== null && awayForm.form_score_pct !== null && homeForm.played >= 3 && awayForm.played >= 3;\nconst goalsReady = coreOddsReady && goalsOddsCoverage && (goalsStatsAvailable || formReady);\n\nconst cornersOddsAvailable = Object.values(odds?.totals?.corners || {}).some(v => asNum(v) !== null);\nconst cardsOddsAvailable = Object.values(odds?.totals?.cards || {}).some(v => asNum(v) !== null);\nconst shotsTotalOddsAvailable = [odds?.totals?.shots?.home_first_over?.odd, odds?.totals?.shots?.away_first_over?.odd].every(v => asNum(v) !== null);\nconst shotsOnTargetOddsAvailable = [odds?.totals?.shots_on_target?.home_first_over?.odd, odds?.totals?.shots_on_target?.away_first_over?.odd].every(v => asNum(v) !== null);\nconst shotsOddsAvailable = shotsTotalOddsAvailable || shotsOnTargetOddsAvailable;\n\nconst cornersStatsAvailable = [homeAdv.corners_for_avg, homeAdv.corners_against_avg, awayAdv.corners_for_avg, awayAdv.corners_against_avg].every(v => asNum(v) !== null);\nconst cardsStatsAvailable = [homeAdv.yellow_cards_for_avg, awayAdv.yellow_cards_for_avg].every(v => asNum(v) !== null);\nconst shotsTotalStatsAvailable = [homeAdv.shots_for_avg, homeAdv.shots_against_avg, awayAdv.shots_for_avg, awayAdv.shots_against_avg].every(v => asNum(v) !== null);\nconst shotsOnTargetStatsAvailable = [homeAdv.shots_on_target_for_avg, homeAdv.shots_on_target_against_avg, awayAdv.shots_on_target_for_avg, awayAdv.shots_on_target_against_avg].every(v => asNum(v) !== null);\nconst shotsStatsAvailable = shotsTotalStatsAvailable || shotsOnTargetStatsAvailable;\n\nconst homeAdvancedSampleOk = Number(homeAdv.recent_fixture_stats_count || 0) >= minAdvancedSamples;\nconst awayAdvancedSampleOk = Number(awayAdv.recent_fixture_stats_count || 0) >= minAdvancedSamples;\nconst advancedSampleMinReady = homeAdvancedSampleOk && awayAdvancedSampleOk;\n\nconst oddsCoverageSupported = coverageFlags.odds !== false;\nconst fixtureStatsCoverageSupported = coverageFlags.fixtures_statistics !== false;\n\nconst cornersReady = cornersOddsAvailable && cornersStatsAvailable && advancedSampleMinReady && oddsCoverageSupported && fixtureStatsCoverageSupported;\nconst cardsReady = cardsOddsAvailable && cardsStatsAvailable && advancedSampleMinReady && oddsCoverageSupported && fixtureStatsCoverageSupported;\nconst shotsTotalReady = shotsTotalOddsAvailable && shotsTotalStatsAvailable && advancedSampleMinReady && oddsCoverageSupported && fixtureStatsCoverageSupported;\nconst shotsOnTargetReady = shotsOnTargetOddsAvailable && shotsOnTargetStatsAvailable && advancedSampleMinReady && oddsCoverageSupported && fixtureStatsCoverageSupported;\nconst shotsReady = shotsTotalReady || shotsOnTargetReady;\n\nconst reasonsByMarket = {\n  core: [],\n  corners: [],\n  cards: [],\n  shots_total: [],\n  shots_on_target: []\n};\n\nif (!coreOddsReady) reasonsByMarket.core.push('core_match_winner_odds_missing');\nif (!goalsOddsCoverage) reasonsByMarket.core.push('core_goals_odds_missing');\nif (!goalsStatsAvailable && !formReady) reasonsByMarket.core.push('goals_stats_and_form_insufficient');\nif (!goalsStatsAvailable) reasonsByMarket.core.push('goals_stats_missing');\nif (!formReady) reasonsByMarket.core.push('form_insufficient_sample_or_missing');\n\nif (!oddsCoverageSupported) reasonsByMarket.corners.push('league_odds_coverage_not_supported');\nif (!fixtureStatsCoverageSupported) reasonsByMarket.corners.push('league_fixture_statistics_coverage_not_supported');\nif (!cornersOddsAvailable) reasonsByMarket.corners.push('corners_odds_missing');\nif (!cornersStatsAvailable) reasonsByMarket.corners.push('corners_stats_missing');\nif (!advancedSampleMinReady) reasonsByMarket.corners.push('advanced_sample_below_minimum');\n\nif (!oddsCoverageSupported) reasonsByMarket.cards.push('league_odds_coverage_not_supported');\nif (!fixtureStatsCoverageSupported) reasonsByMarket.cards.push('league_fixture_statistics_coverage_not_supported');\nif (!cardsOddsAvailable) reasonsByMarket.cards.push('cards_odds_missing');\nif (!cardsStatsAvailable) reasonsByMarket.cards.push('cards_stats_missing');\nif (!advancedSampleMinReady) reasonsByMarket.cards.push('advanced_sample_below_minimum');\n\nif (!oddsCoverageSupported) reasonsByMarket.shots_total.push('league_odds_coverage_not_supported');\nif (!fixtureStatsCoverageSupported) reasonsByMarket.shots_total.push('league_fixture_statistics_coverage_not_supported');\nif (!shotsTotalOddsAvailable) reasonsByMarket.shots_total.push('shots_total_odds_missing');\nif (!shotsTotalStatsAvailable) reasonsByMarket.shots_total.push('shots_total_stats_missing');\nif (!advancedSampleMinReady) reasonsByMarket.shots_total.push('advanced_sample_below_minimum');\n\nif (!oddsCoverageSupported) reasonsByMarket.shots_on_target.push('league_odds_coverage_not_supported');\nif (!fixtureStatsCoverageSupported) reasonsByMarket.shots_on_target.push('league_fixture_statistics_coverage_not_supported');\nif (!shotsOnTargetOddsAvailable) reasonsByMarket.shots_on_target.push('shots_on_target_odds_missing');\nif (!shotsOnTargetStatsAvailable) reasonsByMarket.shots_on_target.push('shots_on_target_stats_missing');\nif (!advancedSampleMinReady) reasonsByMarket.shots_on_target.push('advanced_sample_below_minimum');\n\nconst dataQualityGoals = (\n  (goalsStatsAvailable ? 45 : 0) +\n  (formReady ? 20 : 0) +\n  (coreOddsReady ? 20 : 0) +\n  (goalsOddsCoverage ? 15 : 0)\n);\nconst dataQualityCorners = (\n  (cornersStatsAvailable ? 40 : 0) +\n  (cornersOddsAvailable ? 30 : 0) +\n  (advancedSampleMinReady ? 30 : 0)\n);\nconst dataQualityShots = (\n  (((shotsTotalStatsAvailable ? 20 : 0) + (shotsOnTargetStatsAvailable ? 20 : 0))) +\n  (((shotsTotalOddsAvailable ? 15 : 0) + (shotsOnTargetOddsAvailable ? 15 : 0))) +\n  (advancedSampleMinReady ? 30 : 0)\n);\nconst dataQualityCards = (\n  (cardsStatsAvailable ? 40 : 0) +\n  (cardsOddsAvailable ? 30 : 0) +\n  (advancedSampleMinReady ? 30 : 0)\n);\nconst weakFallbackDetected = false;\nconst dataQualityGlobal = Math.round(((dataQualityGoals * 0.45) + (dataQualityCorners * 0.2) + (dataQualityShots * 0.2) + (dataQualityCards * 0.15)));\n\nconst featureAvailability = {\n  goals: {\n    odds_ready: coreOddsReady && goalsOddsCoverage,\n    stats_available: goalsStatsAvailable,\n    form_ready: formReady,\n    ready: goalsReady,\n    publish_allowed: goalsReady,\n    blocking_reason: goalsReady ? null : (reasonsByMarket.core[0] || 'core_market_blocked')\n  },\n  corners: {\n    odds_available: cornersOddsAvailable,\n    stats_available: cornersStatsAvailable,\n    min_sample_ready: advancedSampleMinReady,\n    coverage_supported: oddsCoverageSupported && fixtureStatsCoverageSupported,\n    ready: cornersReady,\n    publish_allowed: cornersReady,\n    blocking_reason: cornersReady ? null : (reasonsByMarket.corners[0] || 'corners_market_blocked')\n  },\n  shots_total: {\n    odds_available: shotsTotalOddsAvailable,\n    stats_available: shotsTotalStatsAvailable,\n    min_sample_ready: advancedSampleMinReady,\n    coverage_supported: oddsCoverageSupported && fixtureStatsCoverageSupported,\n    ready: shotsTotalReady,\n    publish_allowed: shotsTotalReady,\n    blocking_reason: shotsTotalReady ? null : (reasonsByMarket.shots_total[0] || 'shots_total_market_blocked')\n  },\n  shots_on_target: {\n    odds_available: shotsOnTargetOddsAvailable,\n    stats_available: shotsOnTargetStatsAvailable,\n    min_sample_ready: advancedSampleMinReady,\n    coverage_supported: oddsCoverageSupported && fixtureStatsCoverageSupported,\n    ready: shotsOnTargetReady,\n    publish_allowed: shotsOnTargetReady,\n    blocking_reason: shotsOnTargetReady ? null : (reasonsByMarket.shots_on_target[0] || 'shots_on_target_market_blocked')\n  },\n  cards: {\n    odds_available: cardsOddsAvailable,\n    stats_available: cardsStatsAvailable,\n    min_sample_ready: advancedSampleMinReady,\n    coverage_supported: oddsCoverageSupported && fixtureStatsCoverageSupported,\n    ready: cardsReady,\n    publish_allowed: cardsReady,\n    blocking_reason: cardsReady ? null : (reasonsByMarket.cards[0] || 'cards_market_blocked')\n  }\n};\n\nconst payload = {\n  fixture_id: Number(base.fixture_id || 0) || null,\n  league_id: Number(base.league_id || 0) || null,\n  league_name: base.league_name ?? null,\n  country: base.country ?? null,\n  season: base.season ?? null,\n  fixture_datetime: base.fixture_datetime ?? null,\n  status_short: base.status_short ?? null,\n  home_team_id: Number(base.home_team_id || 0) || null,\n  away_team_id: Number(base.away_team_id || 0) || null,\n  home_team_name: base.home_team_name ?? null,\n  away_team_name: base.away_team_name ?? null,\n\n  gf_home: goalsStats.home_for_avg,\n  ga_home: goalsStats.home_against_avg,\n  gf_away: goalsStats.away_for_avg,\n  ga_away: goalsStats.away_against_avg,\n\n  form_home: homeForm.form_score_pct,\n  form_away: awayForm.form_score_pct,\n\n  cf_home: asNum(homeAdv.corners_for_avg),\n  ca_home: asNum(homeAdv.corners_against_avg),\n  cf_away: asNum(awayAdv.corners_for_avg),\n  ca_away: asNum(awayAdv.corners_against_avg),\n\n  shots_home: asNum(homeAdv.shots_for_avg),\n  shots_allowed_home: asNum(homeAdv.shots_against_avg),\n  shots_away: asNum(awayAdv.shots_for_avg),\n  shots_allowed_away: asNum(awayAdv.shots_against_avg),\n\n  shots_on_target_home: asNum(homeAdv.shots_on_target_for_avg),\n  shots_on_target_allowed_home: asNum(homeAdv.shots_on_target_against_avg),\n  shots_on_target_away: asNum(awayAdv.shots_on_target_for_avg),\n  shots_on_target_allowed_away: asNum(awayAdv.shots_on_target_against_avg),\n\n  yf_home: asNum(homeAdv.yellow_cards_for_avg),\n  yf_away: asNum(awayAdv.yellow_cards_for_avg),\n\n  home_recent_form: homeRecent.slice(0, 10).map(x => {\n    const isHome = Number(x?.teams?.home?.id || 0) === Number(base.home_team_id || 0);\n    const gf = asNum(isHome ? x?.goals?.home : x?.goals?.away);\n    const ga = asNum(isHome ? x?.goals?.away : x?.goals?.home);\n    return {\n      fixture_id: Number(x?.fixture?.id || 0) || null,\n      date: x?.fixture?.date ?? null,\n      opponent: isHome ? (x?.teams?.away?.name ?? null) : (x?.teams?.home?.name ?? null),\n      result: gf === null || ga === null ? null : (gf > ga ? 'W' : gf < ga ? 'L' : 'D'),\n      goals_scored: gf,\n      goals_conceded: ga\n    };\n  }),\n  away_recent_form: awayRecent.slice(0, 10).map(x => {\n    const isHome = Number(x?.teams?.home?.id || 0) === Number(base.away_team_id || 0);\n    const gf = asNum(isHome ? x?.goals?.home : x?.goals?.away);\n    const ga = asNum(isHome ? x?.goals?.away : x?.goals?.home);\n    return {\n      fixture_id: Number(x?.fixture?.id || 0) || null,\n      date: x?.fixture?.date ?? null,\n      opponent: isHome ? (x?.teams?.away?.name ?? null) : (x?.teams?.home?.name ?? null),\n      result: gf === null || ga === null ? null : (gf > ga ? 'W' : gf < ga ? 'L' : 'D'),\n      goals_scored: gf,\n      goals_conceded: ga\n    };\n  }),\n  head_to_head: h2h.slice(0, 10).map(x => ({\n    fixture_id: Number(x?.fixture?.id || 0) || null,\n    date: x?.fixture?.date ?? null,\n    home_team: x?.teams?.home?.name ?? null,\n    away_team: x?.teams?.away?.name ?? null,\n    home_score: asNum(x?.goals?.home),\n    away_score: asNum(x?.goals?.away)\n  })),\n  odds,\n\n  odds_ready: coreOddsReady,\n  goals_stats_available: goalsStatsAvailable,\n  form_ready: formReady,\n  goals_ready: goalsReady,\n  corners_odds_available: cornersOddsAvailable,\n  corners_stats_available: cornersStatsAvailable,\n  corners_ready: cornersReady,\n  shots_odds_available: shotsOddsAvailable,\n  shots_stats_available: shotsStatsAvailable,\n  shots_ready: shotsReady,\n  shots_total_ready: shotsTotalReady,\n  shots_on_target_ready: shotsOnTargetReady,\n  cards_odds_available: cardsOddsAvailable,\n  cards_stats_available: cardsStatsAvailable,\n  cards_ready: cardsReady,\n  publish_value_allowed: goalsReady,\n  corners_publish_allowed: cornersReady,\n  shots_publish_allowed: shotsReady,\n  shots_total_publish_allowed: shotsTotalReady,\n  shots_on_target_publish_allowed: shotsOnTargetReady,\n  cards_publish_allowed: cardsReady,\n\n  data_quality: dataQualityGlobal,\n  data_quality_goals: dataQualityGoals,\n  data_quality_corners: dataQualityCorners,\n  data_quality_shots: dataQualityShots,\n  data_quality_cards: dataQualityCards,\n\n  recent_fixture_stats_count_home: Number(homeAdv.recent_fixture_stats_count || 0),\n  recent_fixture_stats_count_away: Number(awayAdv.recent_fixture_stats_count || 0),\n  advanced_stats_attempted_home: Boolean(homeAdv.attempted),\n  advanced_stats_attempted_away: Boolean(awayAdv.attempted),\n  advanced_stats_skip_reason_home: homeAdv.skip_reason ?? null,\n  advanced_stats_skip_reason_away: awayAdv.skip_reason ?? null,\n\n  coverage_flags: coverageFlags,\n  request_meta: requestMeta,\n  blocking_reason: goalsReady ? null : (reasonsByMarket.core[0] || 'core_market_blocked'),\n  market_blocking_reasons: reasonsByMarket,\n\n  collection_meta: {\n    collected_at: $now.toISO(),\n    source: 'api-football-v3',\n    timezone: base.timezone ?? 'Europe/Warsaw',\n    bookmaker_preferred: null,\n    bookmaker_name: odds?.bookmaker_name ?? null,\n    bookmakers_available: Number(odds?.raw_bookmakers_available || 0),\n    bookmaker_filter_fallback_used: Boolean(odds?.bookmaker_filter_fallback_used),\n    bookmaker_filter_fallback_error: odds?.bookmaker_filter_fallback_error ?? null,\n    semantic_nulls_enabled: true,\n    advanced_metrics_policy: 'recent_fixtures_statistics_only_no_season_total_fallback_for_publishable_advanced_markets',\n    advanced_min_sample_policy: minAdvancedSamples,\n    weak_fallback_detected: weakFallbackDetected,\n    doc_alignment: {\n      base_url: 'https://v3.football.api-sports.io',\n      auth_header_name: 'x-apisports-key',\n      odds_requires_league_coverage_support: coverageFlags.odds !== false,\n      fixture_statistics_requires_league_coverage_support: coverageFlags.fixtures_statistics !== false\n    },\n    feature_availability: featureAvailability\n  }\n};\n\nreturn [{ json: payload }];\n"
      },
      "id": "8a692a26-868a-46f8-9fbe-88796bd798ca",
      "name": "Build Consolidated Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst j = $json;\nconst reasons = [];\nconst reasonDetails = [];\n\nconst numOk = (v) => Number.isFinite(Number(v)) && Number(v) > 0;\nconst nonEmpty = (v) => v !== null && v !== undefined && String(v) !== '';\nconst isBool = (v) => typeof v === 'boolean';\n\nif (!numOk(j.fixture_id)) reasons.push('fixture_id_invalid');\nif (!numOk(j.league_id)) reasons.push('league_id_invalid');\nif (!numOk(j.home_team_id)) reasons.push('home_team_id_invalid');\nif (!numOk(j.away_team_id)) reasons.push('away_team_id_invalid');\nif (!nonEmpty(j.fixture_datetime)) reasons.push('fixture_datetime_missing');\nif (String(j.status_short || '') !== 'NS') reasons.push('status_short_not_NS');\n\nif (![j.odds?.match_winner?.home, j.odds?.match_winner?.draw, j.odds?.match_winner?.away].every(v => Number.isFinite(Number(v)))) {\n  reasons.push('core_match_winner_odds_incomplete');\n}\nif (![j.odds_ready, j.goals_stats_available, j.form_ready, j.goals_ready, j.corners_odds_available, j.corners_stats_available, j.corners_ready, j.shots_odds_available, j.shots_stats_available, j.shots_ready, j.shots_total_ready, j.shots_on_target_ready, j.cards_odds_available, j.cards_stats_available, j.cards_ready, j.publish_value_allowed, j.corners_publish_allowed, j.shots_publish_allowed, j.shots_total_publish_allowed, j.shots_on_target_publish_allowed, j.cards_publish_allowed].every(isBool)) {\n  reasons.push('readiness_flags_non_boolean');\n}\n\nif (!j.goals_ready || !j.publish_value_allowed) {\n  reasons.push('core_market_not_publishable');\n}\n\nif (Number(j.data_quality_goals ?? 0) < 55 && j.goals_ready !== true) {\n  reasons.push('goals_data_quality_below_threshold');\n}\n\nif (j.publish_value_allowed !== j.goals_ready) reasonDetails.push('publish_value_allowed_must_match_goals_ready');\nif (j.corners_publish_allowed && !j.corners_ready) reasonDetails.push('corners_publish_flag_contradiction');\nif (j.shots_publish_allowed && !j.shots_ready) reasonDetails.push('shots_publish_flag_contradiction');\nif (j.cards_publish_allowed && !j.cards_ready) reasonDetails.push('cards_publish_flag_contradiction');\nif (j.shots_total_publish_allowed && !j.shots_total_ready) reasonDetails.push('shots_total_publish_flag_contradiction');\nif (j.shots_on_target_publish_allowed && !j.shots_on_target_ready) reasonDetails.push('shots_on_target_publish_flag_contradiction');\n\nif (j.corners_ready && (!numOk(j.recent_fixture_stats_count_home) || !numOk(j.recent_fixture_stats_count_away) || Number(j.recent_fixture_stats_count_home) < 3 || Number(j.recent_fixture_stats_count_away) < 3)) {\n  reasonDetails.push('corners_ready_without_min_samples');\n}\nif (j.cards_ready && (!numOk(j.recent_fixture_stats_count_home) || !numOk(j.recent_fixture_stats_count_away) || Number(j.recent_fixture_stats_count_home) < 3 || Number(j.recent_fixture_stats_count_away) < 3)) {\n  reasonDetails.push('cards_ready_without_min_samples');\n}\nif ((j.shots_total_ready || j.shots_on_target_ready) && (!numOk(j.recent_fixture_stats_count_home) || !numOk(j.recent_fixture_stats_count_away) || Number(j.recent_fixture_stats_count_home) < 3 || Number(j.recent_fixture_stats_count_away) < 3)) {\n  reasonDetails.push('shots_ready_without_min_samples');\n}\nif (j.coverage_flags?.odds === false && (j.corners_publish_allowed || j.shots_publish_allowed || j.cards_publish_allowed)) {\n  reasonDetails.push('advanced_markets_publishable_while_odds_coverage_disabled');\n}\nif (j.coverage_flags?.fixtures_statistics === false && (j.corners_publish_allowed || j.shots_publish_allowed || j.cards_publish_allowed)) {\n  reasonDetails.push('advanced_markets_publishable_while_fixture_statistics_coverage_disabled');\n}\n\nconst isValid = reasons.length === 0 && reasonDetails.length === 0;\n\nreturn [{\n  json: {\n    ...j,\n    validation: {\n      is_valid: isValid,\n      trace_stage: isValid ? 'payload_validated_ready_for_batch' : 'invalid_payload_before_batch',\n      trace_reason_primary: isValid ? null : (reasons[0] || reasonDetails[0] || 'invalid_payload'),\n      trace_reason_details: [...reasons, ...reasonDetails],\n      minimum_operational_requirements_met: isValid\n    }\n  }\n}];\n"
      },
      "id": "be913b0e-59bc-4980-9530-1433cd6c20e5",
      "name": "Validate Final Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.validation?.is_valid === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d61603a1-14f2-474d-b07a-2c56c8c18b9d",
      "name": "Payload Valid For Backend?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{json:{\n  trace_stage: $json.validation.trace_stage,\n  trace_reason_primary: $json.validation.trace_reason_primary,\n  trace_reason_details: $json.validation.trace_reason_details,\n  blocking_reason: $json.blocking_reason ?? null,\n  market_blocking_reasons: $json.market_blocking_reasons ?? {},\n  fixture_id: $json.fixture_id ?? null,\n  home_team_name: $json.home_team_name ?? null,\n  away_team_name: $json.away_team_name ?? null,\n  collection_meta: $json.collection_meta ?? {},\n  payload: $json,\n  traced_at: $now.toISO()\n}}];\n"
      },
      "id": "e6e62a62-5c5a-4880-8510-2c78367d3757",
      "name": "Trace Invalid Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ Boolean($json.validation?.is_valid && ((!$json.corners_publish_allowed && $json.corners_odds_available) || (!$json.shots_total_publish_allowed && (($json.odds?.totals?.shots?.home_first_over?.odd ?? null) !== null || ($json.odds?.totals?.shots?.away_first_over?.odd ?? null) !== null)) || (!$json.shots_on_target_publish_allowed && (($json.odds?.totals?.shots_on_target?.home_first_over?.odd ?? null) !== null || ($json.odds?.totals?.shots_on_target?.away_first_over?.odd ?? null) !== null)) || (!$json.cards_publish_allowed && $json.cards_odds_available))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9aaaede3-07af-472d-9928-635490022bd4",
      "name": "Advanced Markets Blocked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{json:{\n  trace_stage:'markets_blocked',\n  trace_reason_primary:'advanced_market_blocked_due_to_coverage_or_sample_policy',\n  trace_reason_details:$json.market_blocking_reasons ?? {},\n  blocking_reason:$json.blocking_reason ?? null,\n  fixture_id:$json.fixture_id ?? null,\n  home_team_name:$json.home_team_name ?? null,\n  away_team_name:$json.away_team_name ?? null,\n  collection_meta:$json.collection_meta ?? {},\n  traced_at:$now.toISO()\n}}];\n"
      },
      "id": "d0c2f49a-a390-4127-82f8-ea04e821bbd5",
      "name": "Trace Blocked Markets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "d6d7a8cb-1ea1-4e82-8104-798b29b4478d",
      "name": "Aggregate Valid Fixtures",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        240,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json.data) && $json.data.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f63a2d51-ae76-4b0c-b585-e6c796e856e7",
      "name": "Any Valid Fixtures To Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{trace_stage:'no_valid_fixtures_to_send',trace_reason_primary:'all_fixtures_blocked_or_invalid_before_batch',trace_reason_details:{valid_fixture_count:Array.isArray($json.data)?$json.data.length:0},traced_at:$now.toISO()}}];"
      },
      "id": "8ce9bf3c-5f43-4676-80ec-c5a8dbc1eca5",
      "name": "Trace No Valid Fixtures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://calculadora-calculadora.uomaan.easypanel.host/predict",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Workflow-Source",
              "value": "sports_predict_pipeline_production_hardened"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fixtures: $json.data }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "6d0f74b6-d3c3-4d8f-9d75-3263a8d0f366",
      "name": "Send Batch To Predict",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const aggregated = $('Aggregate Valid Fixtures').first()?.json?.data ?? [];\nconst body = $json?.body ?? $json;\n\nconst rawStatus =\n  $json?.statusCode ??\n  $json?.status ??\n  body?.statusCode ??\n  body?.status ??\n  body?.code ??\n  body?.httpCode ??\n  null;\n\nconst statusCode = rawStatus !== null && rawStatus !== undefined && rawStatus !== ''\n  ? Number(rawStatus)\n  : null;\n\nconst text = JSON.stringify(body || {});\nconst is422 = statusCode === 422 || /422|unprocessable entity/i.test(text);\n\nconst bodyLooksSuccessful =\n  body &&\n  typeof body === 'object' &&\n  (\n    body?.success === true ||\n    body?.ok === true ||\n    body?.status === 'success' ||\n    body?.result === 'success' ||\n    Number(body?.processed ?? 0) > 0 ||\n    Number(body?.count ?? 0) > 0 ||\n    Number(body?.fixtures_total ?? 0) > 0 ||\n    body?.run_id !== undefined\n  ) &&\n  (\n    !Array.isArray(body?.errors) ||\n    body.errors.length === 0\n  );\n\nconst is2xx = statusCode !== null && statusCode >= 200 && statusCode < 300;\nconst isSuccess = is2xx || bodyLooksSuccessful;\n\nconst shouldRetryPerFixture = is422;\n\nreturn [{\n  json: {\n    trace_stage: isSuccess ? 'batch_backend_success' : (is422 ? 'batch_backend_422' : 'batch_backend_error'),\n    is_success: isSuccess,\n    is_422: is422,\n    should_retry_per_fixture: shouldRetryPerFixture,\n    status_code: statusCode,\n    trace_reason_primary: isSuccess ? null : (is422 ? 'backend_batch_422' : 'backend_batch_non_422_error'),\n    trace_reason_details: isSuccess ? [] : [text.slice(0, 4000)],\n    backend_response: body,\n    batch_fixture_count: Array.isArray(aggregated) ? aggregated.length : 0\n  }\n}];"
      },
      "id": "431b1dd9-bfab-44d9-a381-c01faf06fe5c",
      "name": "Analyze Batch Backend Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_success === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fde1586a-c439-4d28-8e82-4cfc1c405464",
      "name": "Batch Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{trace_stage:$json.trace_stage,batch_fixture_count:$json.batch_fixture_count,status_code:$json.status_code ?? null,backend_response:$json.backend_response ?? {},traced_at:$now.toISO()}}];"
      },
      "id": "820ac0ef-4c39-4ad1-b5d6-0c0a0d54e449",
      "name": "Trace Batch Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.should_retry_per_fixture === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3fd6784-37fb-48aa-b822-2118470a3fd5",
      "name": "Batch Needs Per Fixture Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{trace_stage:$json.trace_stage,trace_reason_primary:$json.trace_reason_primary,trace_reason_details:$json.trace_reason_details,status_code:$json.status_code ?? null,backend_response:$json.backend_response ?? {},batch_fixture_count:$json.batch_fixture_count,traced_at:$now.toISO()}}];"
      },
      "id": "fe7126b8-f18c-42dc-a6a1-3dcdc6093867",
      "name": "Trace Batch Non422 Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{trace_stage:$json.trace_stage,trace_reason_primary:$json.trace_reason_primary,trace_reason_details:$json.trace_reason_details,status_code:$json.status_code ?? null,backend_response:$json.backend_response ?? {},batch_fixture_count:$json.batch_fixture_count,traced_at:$now.toISO()}}];"
      },
      "id": "41376436-9468-43a2-83dc-06e33ad9ba7a",
      "name": "Trace Batch 422",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const aggregated = $('Aggregate Valid Fixtures').first()?.json?.data ?? []; return [{ json: { data: Array.isArray(aggregated) ? aggregated : [] } }];"
      },
      "id": "03876eb6-461b-4485-a939-e077628c715e",
      "name": "Prepare Fixtures For Per Fixture Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        208
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "d14c147c-8e90-4af3-a405-e808b3f231a1",
      "name": "Split Valid Fixtures",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2032,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://calculadora-calculadora.uomaan.easypanel.host/predict",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Workflow-Source",
              "value": "sports_predict_pipeline_production_hardened"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fixtures: [$json] }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "8d55987e-0727-4699-8901-db049f02923e",
      "name": "Send Fixture To Predict",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2256,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst payload = $('Split Valid Fixtures').item.json;\nconst body = $json?.body ?? $json;\n\nconst rawStatus =\n  $json?.statusCode ??\n  $json?.status ??\n  body?.statusCode ??\n  body?.status ??\n  body?.code ??\n  body?.httpCode ??\n  null;\n\nconst statusCode = rawStatus !== null && rawStatus !== undefined && rawStatus !== ''\n  ? Number(rawStatus)\n  : null;\n\nconst text = JSON.stringify(body || {});\nconst is422 = statusCode === 422 || /422|unprocessable entity/i.test(text);\n\nconst bodyLooksSuccessful =\n  body &&\n  typeof body === 'object' &&\n  (\n    body?.success === true ||\n    body?.ok === true ||\n    body?.status === 'success' ||\n    body?.result === 'success' ||\n    Number(body?.processed ?? 0) > 0 ||\n    Number(body?.count ?? 0) > 0 ||\n    Number(body?.fixtures_total ?? 0) > 0 ||\n    body?.run_id !== undefined\n  ) &&\n  (\n    !Array.isArray(body?.errors) ||\n    body.errors.length === 0\n  );\n\nconst is2xx = statusCode !== null && statusCode >= 200 && statusCode < 300;\nconst isSuccess = is2xx || bodyLooksSuccessful;\n\nreturn [{\n  json: {\n    fixture_id: payload.fixture_id ?? null,\n    home_team_name: payload.home_team_name ?? null,\n    away_team_name: payload.away_team_name ?? null,\n    payload,\n    backend_response: body,\n    status_code: statusCode,\n    is_success: isSuccess,\n    is_422: is422,\n    trace_stage: isSuccess ? 'backend_success_per_fixture' : (is422 ? 'backend_422_per_fixture' : 'backend_non_422_per_fixture'),\n    trace_reason_primary: isSuccess ? null : (is422 ? 'backend_fixture_422' : 'backend_fixture_non_422_error'),\n    trace_reason_details: isSuccess ? [] : [text.slice(0, 4000)]\n  }\n}];\n"
      },
      "id": "c8edef4f-0c29-4e7d-b59f-31e8ea12c731",
      "name": "Analyze Fixture Backend Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_success === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66f65988-bdaf-41d4-b65c-4ed4287c7c44",
      "name": "Fixture Backend Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2688,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{trace_stage:$json.trace_stage,fixture_id:$json.fixture_id ?? null,home_team_name:$json.home_team_name ?? null,away_team_name:$json.away_team_name ?? null,status_code:$json.status_code ?? null,traced_at:$now.toISO()}}];"
      },
      "id": "53c15ab5-ff9d-4611-8f60-6b467c3a69cc",
      "name": "Trace Fixture Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_422 === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e979f5aa-41ca-4452-8d38-27e2c18c770d",
      "name": "Fixture Response Was 422?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2912,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{trace_stage:$json.trace_stage,trace_reason_primary:$json.trace_reason_primary,trace_reason_details:$json.trace_reason_details,fixture_id:$json.fixture_id ?? null,home_team_name:$json.home_team_name ?? null,away_team_name:$json.away_team_name ?? null,status_code:$json.status_code ?? null,backend_response:$json.backend_response ?? {},payload:$json.payload ?? {},traced_at:$now.toISO()}}];"
      },
      "id": "2ad816b4-1e0d-49eb-8b88-98b4bd725f6c",
      "name": "Trace Backend 422 Per Fixture",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{trace_stage:$json.trace_stage,trace_reason_primary:$json.trace_reason_primary,trace_reason_details:$json.trace_reason_details,fixture_id:$json.fixture_id ?? null,home_team_name:$json.home_team_name ?? null,away_team_name:$json.away_team_name ?? null,status_code:$json.status_code ?? null,backend_response:$json.backend_response ?? {},payload:$json.payload ?? {},traced_at:$now.toISO()}}];"
      },
      "id": "919d41f9-bb32-4a47-bf45-8637f331c0c7",
      "name": "Trace Backend Non422 Per Fixture",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 3 Hours": {
      "main": [
        [
          {
            "node": "Get Upcoming Fixtures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upcoming Fixtures": {
      "main": [
        [
          {
            "node": "Split Fixtures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Fixtures": {
      "main": [
        [
          {
            "node": "Fixture Skeleton Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fixture Skeleton Valid?": {
      "main": [
        [
          {
            "node": "Extract Base Fixture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trace Discarded Fixture Early",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Base Fixture": {
      "main": [
        [
          {
            "node": "Get League Coverage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Home Team Statistics": {
      "main": [
        [
          {
            "node": "Get Away Team Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Away Team Statistics": {
      "main": [
        [
          {
            "node": "Get Home Recent Fixtures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Home Recent Fixtures": {
      "main": [
        [
          {
            "node": "Get Away Recent Fixtures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Away Recent Fixtures": {
      "main": [
        [
          {
            "node": "Get H2H Fixtures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get H2H Fixtures": {
      "main": [
        [
          {
            "node": "Get Fixture Odds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Fixture Odds": {
      "main": [
        [
          {
            "node": "Collect Advanced Stats And Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Advanced Stats And Sources": {
      "main": [
        [
          {
            "node": "Build Consolidated Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Consolidated Payload": {
      "main": [
        [
          {
            "node": "Validate Final Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Final Payload": {
      "main": [
        [
          {
            "node": "Payload Valid For Backend?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Advanced Markets Blocked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advanced Markets Blocked?": {
      "main": [
        [
          {
            "node": "Trace Blocked Markets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid For Backend?": {
      "main": [
        [
          {
            "node": "Aggregate Valid Fixtures",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trace Invalid Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Valid Fixtures": {
      "main": [
        [
          {
            "node": "Any Valid Fixtures To Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Valid Fixtures To Send?": {
      "main": [
        [
          {
            "node": "Send Batch To Predict",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trace No Valid Fixtures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Batch To Predict": {
      "main": [
        [
          {
            "node": "Analyze Batch Backend Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Batch Backend Response": {
      "main": [
        [
          {
            "node": "Batch Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Success?": {
      "main": [
        [
          {
            "node": "Trace Batch Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Needs Per Fixture Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Needs Per Fixture Retry?": {
      "main": [
        [
          {
            "node": "Trace Batch 422",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trace Batch Non422 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trace Batch 422": {
      "main": [
        [
          {
            "node": "Prepare Fixtures For Per Fixture Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fixtures For Per Fixture Retry": {
      "main": [
        [
          {
            "node": "Split Valid Fixtures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Valid Fixtures": {
      "main": [
        [
          {
            "node": "Send Fixture To Predict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Fixture To Predict": {
      "main": [
        [
          {
            "node": "Analyze Fixture Backend Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Fixture Backend Response": {
      "main": [
        [
          {
            "node": "Fixture Backend Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fixture Backend Success?": {
      "main": [
        [
          {
            "node": "Trace Fixture Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fixture Response Was 422?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fixture Response Was 422?": {
      "main": [
        [
          {
            "node": "Trace Backend 422 Per Fixture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trace Backend Non422 Per Fixture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get League Coverage": {
      "main": [
        [
          {
            "node": "Get Home Team Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2f4b9955-7440-40a2-97ea-4d8a49ae487e",
  "meta": {
    "instanceId": "7ec5adcd60803b60365ef8d2ebaf1a74329221d09dc9456ee04c2a9b048c184d"
  },
  "id": "AfJnx1dZuo3dBooC",
  "tags": []
}
